{% extends 'master.html' %}
{% block title %}
    Détail matériel
{% endblock %}
{% block content %}
    <div class="container">
        {% if materiel %}
            <div class="row">
                <h5>Libellé : </h5> {{ materiel.libelle }}
            </div>
            <div class="row">
                <h5>Budget : </h5> {{ materiel.budget }}
            </div>
            <div class="row">
                <h5>Salle : </h5> {{ materiel.salle.libelle }}
            </div>
            <div class="row">
                <h5>Acheteur : </h5> {{ materiel.acheteur }}
            </div>
            <div class="row">
                <h5>Possesseur : </h5> {{ materiel.possesseur }}
            </div>
            <div class="row">
                <h5>Responsable : </h5> {{ materiel.responsable }}
            </div>
            <div class="row">
                <h4>Accessoire(s)</h4>
                {% if accessoires %}
                    <ul>
                        {% for accessoire in accessoires %}
                            <li>{{ accessoire }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun accessoire</p>
                {% endif %}
            </div>
            <div class="row">
                <h4>Historique des transferts</h4>
                {% if passations %}
                    <table>
                    <thead>
                    <tr>
                        <th>Donneur</th>
                        <th>Receveur</th>
                        <th>Date</th>
                        <th>Objectif</th>
                        <th>Lieu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for passation in passations %}
                        <tr>
                        <td>{{ passation.donneur.nom }} {{ passation.donneur.prenom }}</td>
                        <td>{{ passation.receveur.nom }} {{ passation.receveur.prenom }}</td>
                        <td>{{ passation.datePassation }}</td>
                        <td>{{ passation.objectif }}</td>
                        <td>{{ passation.lieu.libelle }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Aucun transfert</p>
                {% endif %}
            </div>
        {% else %}
            <p>Ce materiel n'existe pas</p>
        {% endif %}
    </div>
{% endblock %}