{% extends 'master.html' %}
{% block title %}
    Liste du matériel
{% endblock %}
{% block content %}
    <div class="container">
    {% if materiels %}
        <table>
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Budget</th>
                <th>Acheteur</th>
                <th>Possesseur</th>
                <th>Responsable</th>
                <th>Salle</th>
                <th>Détail</th>
                <th>Transfert</th>
            </tr>
            </thead>
            <tbody>
            {% for materiel in materiels %} 
                <tr>
                <td>{{ materiel.libelle }}</td>
                <td>{{ materiel.budget }}</td>
                <td>{{ materiel.acheteur.nom }} {{ materiel.acheteur.prenom }}</td>
                <td>{{ materiel.possesseur.nom }} {{ materiel.possesseur.prenom }}</td>
                <td>{{ materiel.responsable.nom }} {{ materiel.responsable.prenom }}</td>
                <td>{{ materiel.salle.libelle }}</td>
                <td><a href="/materiel/{{ materiel.id }}">Détail</a></td>
                <td><a href="/transfert/{{ materiel.id }}">Transférer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Pas de materiel trouvé</p>
    {% endif %}
    </div>
{% endblock %}