{% extends 'master.html' %}
{% block title %}
    Détail Salle
{% endblock %}
{% block content %}
    <div class="container">
        {% if salle %}
            <div class="row">
                <h5>Libellé : </h5> {{ salle.libelle }}
            </div>
            <div class="row">
                <h5>Etage : </h5> {{ salle.etage }}
            </div>
            <div class="row">
                <h5>Bâtiment : </h5> {{ salle.batiment }}
            </div>
            <div class="row">
                <h5>Matériels</h5>
            </div>
            {% if materiels %}
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Libelle</th>
                            <th>Détails</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for materiel in materiels %}
                            <tr>
                                <td>{{ materiel.libelle }}</td>
                                <td><a href="/materiel/{{ materiel.id }}">Détail</a> </td>
                            </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                </div> 
            {% else %}
                <p>Aucun materiels</p>
            {% endif %}
        {% else %}
            <p>Cette salle n'existe pas</p>
        {% endif %}
    </div>
{% endblock %}